@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

/* Altering whole page */
body {
    font-family: 'Roboto', sans-serif;
}

.page-wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.button {
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 40px;
    margin: 20px 0;
}

/* Header Styling */
ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

li {
    color: #E5E7EB;
}

h1 {
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-around;
}

.main-content {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

/* Hero Styling */
h2 {
    font-size: 48px;
    font-weight: 700;
}

h1, .hero h2, .hero p, button {
    color: #F9FAF8;
}

.hero img {
    width: 400px;
    height: auto;
}


.hero {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.hero p {
    font-size: 18px;
}

.left-item, .right-item {
    width: 400px;
    height: 300px;
    padding: 15px 15px 30px 15px;
}

.left-item p {
    margin: 18px auto;
}

.left-item h2 {
    margin: 0 0 10px 0;
}

/* Footer Styling */
.footer p {
    text-align: center;
    color: #F9FAF8;
    padding: 10px 0 10px 0;
}

/* Information Section Styling */
.info h3 {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    text-align: center;
    margin-bottom: 82px;
    margin-top: 0;
}

.info {
    margin: 82px 0;
}

.img-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.placeholder {
    max-width: 300px;
}

.placeholder img {
    width: 300px;
    height: auto;
    border-radius: 0.3em;
}

.placeholder div p {
    text-align: center;
    margin: 8px 0;
    color: #696969;
}


/* Quote Section Styling */
.quote-container {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quote-text {
    margin: 150px 0 auto 0;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-author {
    padding-left: 250px;
    flex-basis: 150px;
    font-weight: 700;
    font-size: 18px;
}

/* Call to Action Styling */
.call-wrapper {
    display: flex;
    margin: 85px 150px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-color: #3882F6;
    border-radius: 0.3em;
}

.call-content {
    display: flex;
    flex-direction: column;
}

.call-wrapper .button {
    background-color: #3882F6;
    border-color: #F9FAF8;
    border-width: 2px;
    align-self: center;
}

.content-p, .content-p2 {
    color: #F9FAF8;
}

.content-p {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
}

.content-p2 {
    margin-bottom: 40px;
}

/* Footer Styling */
.footer {
    background-color: #1F2937;
    margin-top: auto;
}

.footer p a {
    color: inherit;
}

.footer p:nth-child(1) {
    margin-bottom: 0;
}

.footer p:nth-child(2) {
    margin-top: 0;
}